@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

body {
  font-family: $FONT-FAMILY;
  background-color: $BLACK;
  margin: 0;
  color: $WHITE;
  text-align: center;
}
header {
  background-color: $WHITE;
  margin: 0;
  padding-top: 42px;
  height: 70px;
  position: fixed;
  height: auto;
  top: 0;
  width: 100%;
}
main {
  width: 390px;
  //min-height: 780px;
  height: 100vh;
  margin: 102px auto 0 auto;
  background: url('../../imgs/bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: $PURPLE;
  padding: 0;
  margin: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 64px;
  font-size: $FONT-DEFAULT-SIZE;

  a {
    color: $WHITE;
    text-decoration: none;
    margin: 0 5px 0 0;
    padding: 0;
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  svg {
    min-height: 31px;
  }

  span {
    line-height: $FONT-XLARGE;
  }
}

h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: $FONT-MEDIUM;
  font-weight: 600;
  letter-spacing: 0.05em;
}