/**FONT TYPE**/
$FONT-FAMILY: 'Jost', sans-serif; ;

/**FONT SIZES**/
$FONT-DEFAULT-SIZE: 1vw;
$FONT-XXSMALL: 0.6rem;
$FONT-XSMALL: 0.7rem;
$FONT-SMALL: 0.8rem;
$FONT-MEDIUM: 0.9rem;
$FONT-LARGE: 1.1rem;
$FONT-XLARGE: 1.2rem;
$FONT-XXLARGE: 1.3rem;
$FONT-XXXLARGE: 1.5rem;

/**COLORS**/
$PURPLE: rgba(83, 0, 187, 1);
$PURPLE-LIGHT: rgba(113, 0, 255, 1);
$WHITE: rgba(255, 255, 255, 1);
$BLACK: rgba(0,0,0,1);
$GREY: rgb(74, 74, 74);
$RED: rgba(255, 0, 0, 1);